Seaborn: version >= 0.13.0
Pandas: version >= 2.1.4
Numpy: version >= 1.26.2
Matplotlib: version >= 0.8.2
Plotly: version >= 5.18.0
DateTime: version >= 3.11.6
Scipy: version >= 1.11.4
Collections: version >= 3.11.6
